#VerdantForest {
    figure img {
        width: 100%;
        height: auto;
        display: block;
    }

    figure p {
        text-align: center;
        font-style: italic;
        font-size: 0.85em;
        line-height: 1.3em;
    }
}
