# Training output
checkpoints/
attributions/
*.npy

# Node app
app/build/
app/dist/
app/node_modules/
app/public/samples/

# OS files
.DS_Store
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Xavier 
myenv/
xavier/experiments/data/
xavier/experiments/logs/
xavier/experiments/plots/