#Sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    border-left: 1px solid #333;
    z-index: 2; /* Ensure that sidebar content is above map content */

    /* By default, don't show the "close sidebar" button. */
    .close-sidebar {
        display: none;
    }
    /* Show the "close sidebar" button */
    .close-sidebar {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
    }

    header {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: center;
        height: 50px;
        background-color: #333;
        color: white;
        padding: 0 15px;
        white-space: nowrap;
    }

    .close {
        display: flex;
        flex: 0 0 auto;
        color: rgba(255,255,255,1);
        font-size: 20px;
        padding: 5px 0;
        cursor: pointer;
    }
    .close:hover {
        color: rgba(255,255,255,0.8);
    }

    .token {
        background: rgba(255,255,255,0.35);
        padding: 1px 5px;
        display: inline-block;
    }

    section {
        padding: 0px 15px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 16px;
        white-space: nowrap;
    }

    /* Loader */
    .loading, .error {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 5px;
        }
    }
    .error .icon {
        color: red;
    }

    /* Menu */
    ul.menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 220px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        z-index: 10;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        overflow: hidden;

        li.header {
            padding: 10px;
            color: #888;
            border-bottom: 1px solid #aaa;
            font-size: 12px;
            text-transform: uppercase;
        }

        li.option {
            padding: 10px;
            cursor: pointer;
            color: #333;

            &:hover {
                background: #eee;
            }

            h4 {
                margin: 0;
                padding: 0;
            }
            p {
                font-size: 12px;
                margin: 0;
                padding: 5px 0 0;
                white-space: normal;
            }
        }
    }

    /* Header */
    .layer-location,
    .block-location,
    .feature-location {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        white-space: nowrap;
        padding: 0 2px;

        .layer {
            display: flex;
            margin-left: 5px;
            opacity: 0.5;
        }

        .icon {
            padding: 0 2px;
        }

        .dropdown-icon {
            font-size: 12px;
            padding-left: 5px;
            padding-top: 2px;
        }
    }

    /* Circuit predictions */
    .circuit-prediction {
        display: flex;
        flex-direction: column;
    }

    .layer-location {
        position: relative;
        cursor: pointer;
        margin-top: 0;

        &:hover {
            color: #fff;

            .layer { opacity: 1; }
        }
    }

    /* Block profile */
    .block-profile {
        table { --labels-size: 6ch; }
        th {
            font-size: 13px;
            font-family: monospace;
            font-weight: normal;
            color: #ccc;
        }
        th:hover {
            font-weight: bold;
            cursor: pointer;
        }
        td {
            padding: 5px;
            --color: rgba(255, 191, 0, 1);
        }
        td:last-child { --color: #ddd; }
        td .data {
            color: rgba(0,0,0,0.5);
            font-size: 10px;
            padding-right: 2px;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    /* Feature activations */
    .activations {
        .percentage {
            margin-left: 5px;
            color: #aaa;
        }
        td { --color: rgba(255, 191, 0, 1); }
        td:last-child { --color: #ddd; }
    }

    /* Upstream ablations */
    .ablations {
        display: flex;
        flex-direction: column;

        h3 { margin-top: 0; }
        tr { cursor: pointer; }
        th { font-family: monospace; }
        td { --color: rgba(255, 191, 0, 0.5); }
        tr.hovered { color: rgba(255, 191, 0, 1);}

        button {
            border: none;
            background: none;
            cursor: pointer;
            text-decoration: underline;
            padding: 0;
            margin: 5px 0;
            color: #5aa5ff;
        }
    }

    /* Feature samples header */
    .feature-samples-header {
        height: 20px;
        padding-top: 15px;
    }

    /* Feature sampling strategy */
    .feature-sampling-strategy {
        position: relative;
        color: #aaa;

        .selected-option {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;

            &:hover {
                color: #fff;;
            }

            .icon {
                font-size: 12px;
                padding-left: 5px;
                padding-bottom: 2px;
            }
        }
    }

    /* KLD table */
    .klds {
        margin: 20px 0 10px;

        table {
            --aspect-ratio: 5;

            th {
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                font-family: monospace;
            }
            td {
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
            }
            th.selected {
                font-weight: bold;
            }

            td.low { background-color: rgba(100 210 80 / 65%); }
            td.medium { background-color: rgba(255 220 90 / 65%); }
            td.high { background-color: rgba(240 50 50 / 65%); }

        }
    }

    /* Samples header */
    .samples-header {
        display: flex;
        flex-direction: column;
        height: auto;

        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 50px;
        }
        .info .count {
            color: #aaa;
        }

        .histogram {
            width: 100%;
            margin-bottom: 15px;
            white-space: nowrap;
            font-size: 10px;
        }
        .histogram .column {
            --aspect-ratio: 5;
        }
        .histogram .count {
            padding: 5px;
        }
        .histogram th {
            color: #aaa;
            line-height: 20px;

            &.min { align-items: flex-start; }
            &.max { align-items: flex-end; }
        }
        .histogram td {
            --color: #999;

            &.represented {
                --color: #FFBF00;
            }
        }
    }

    /* Sample display options */
    .options {
        margin: 0;
        padding: 0;
        display: flex;
        border-bottom: 1px solid #333;

        .search {
            position: relative;
            display: flex;
            flex: 1 1 auto;
        }
        .search input {
            width: 100%;
            padding: 10px 15px;;
            border: none;
            border-radius: 0;
            font-size: 14px;
        }
        .search .icon {
            color: #aaa;
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 100%;
            margin-right: 10px;
        }

        button {
            border: none;
            border-left: 1px solid #333;
            background-color: #eee;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
        button:hover {
            background-color: #ddd;
        }
        button:active {
            background-color: #ccc;
        }
        button.selected {
            background-color: #ccc;
            .icon { color: #333; }
        }
        button .icon {
            margin: 0 10px;
            width: 20px;
            height: 100%;
            color: #aaa;
        }
    }

    /* Filtered samples */
    .filtered-samples {
        flex: 1 1 auto;
        overflow: auto;
        margin: 0;
    }
}

/* Mobile style */
@media screen and (max-width: 800px){
    #Sidebar {
        /* Don't show the options buttons */
        .options button {
            display: none;
        }
    }
}
