#Navbar {
    display: flex;
    align-items: center;
    overflow: auto;
    color: white;
    padding: 0 15px;

    .loading {
        display: flex;
        align-items: center;
    }
    .loading .spinner {
        margin-right: 5px;
    }
    .error {
        display: flex;
        align-items: center;
    }
    .error .icon {
        color: red;
        margin-right: 5px;
    }
    .identifier {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        padding: 5px;
        margin-right: 10px;
        font-family: monospace;
        color: #ccc;
        background: rgba(0,0,0,0.5);
        border-radius: 5px;

        .layer-count {
            display: flex;
            flex-direction: row;
            padding-right: 5px;
            margin-right: 5px;
            border-right: 1px solid #555;

            .icon { margin-right: 2px; }
        }
    }
    .context {
        display: flex;
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        justify-content: end;
    }
    .sample {
        font-family: monospace;
    }
    .return {
        padding: 0 2px;
    }
    .target {
        background: rgba(255,255,255,0.3);
    }
}

#ToggleSidebar {
    flex: 0 0 auto;
    color: #ccc;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: rgba(0,0,0,1);
        color: #fff;
    }
}
.sidebar-open #ToggleSidebar {
    display: none;
}