#Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}

#Home main {
    box-sizing: border-box;
    width: min(100%, 800px);
    margin: 0;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1.5em;

    /* Prevent mobile browsers from resizing text. */
    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    h1 {
        font-size: 2.4em;
        line-height: 1.2em;
        margin: 1em 0;
        scroll-margin-top: 15px;
    }

    h2 {
        font-size: 2em;
        line-height: 1.2em;
        margin: 2em 0 1em;
        scroll-margin-top: 15px;
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 2em 0 1em;
        scroll-margin-top: 15px;
    }

    h4 {
        font-size: 1.2em;
        line-height: 1.2em;
        margin: 2em 0 1em;
        scroll-margin-top: 15px;
    }

    ul.list {
        padding-left: 30px;
    }

    section {
        scroll-margin-top: 15px;
    }

    figure {
        margin: 0 auto 1em;
        overflow: auto;

        iframe {
            width: 100%;
            border: none;
        }
    }

    figcaption {
        text-align: center;
        font-weight: bold;
        margin: 10px 0;
    }

    > section:last-child {
        padding: 0 0 2em;
    }
}